/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                               ADMININSTRACION PARAMETRIZABLE                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------- TITULO ---------------------------*/
/*personalizacion de la barra de titulo*/
#Container_title_Form
{
    background: url(../css/theme_blue_Sky/images/header.png);
    background-repeat: repeat;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    width: 95%;
}

#Tabla_Title_form
{
    width: 100%;
}

#image_exit
{
    text-align: end;
}

#panel_pag
{
    vertical-align: text-top;
    padding-left: 30px;
}

/*----------------------- TITULO ---------------------------*/
/*personalizacion marco del formulario*/

#Marco_link
{
    margin-top: 10px;
    padding: 20px 26px;
    background-color: silver;
    border-radius: 20px 20px 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    width: 90%;
}

#Marco_btn_Form
{
    margin-top: 1px;
    padding: 20px 20px;
    background-color: silver;
    border-radius: 15px 15px 15px 15px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    width: 95%;
    height: 40px;
    text-align: center;
}

#Marco_trabajo_Form
{
    position: relative;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: silver;
    border-radius: 15px 15px 15px 15px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    width: 95%;
    height: 350px;
    overflow: auto;
}


/*----------------------- TITULO ---------------------------*/
/*personalizacion de los formularios internos*/


#TablaDatos
{
    width: 100%;
    background-color: silver;
    padding: 20px 26px;
    border-radius: 0 0 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

#TablaDatos_D,#TablaDatos_D_Vista
{
    width: 800px;
    background-color: silver;
    padding: 40px 30px;
    border-radius: 0 0 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

#TablaProductos_D
{
    width: 985px;
    background-color: silver;
    padding: 40px 30px;
    border-radius: 0 0 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

#Datos_Direc_D, #Datos_Bank_D
{
    margin-top: 20px;
    width: 90%;
    background-color: silver;
    padding: 40px 30px;
    border-radius: 20px 20px 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

#TablaConsulta
{
    width: 100%;
    background-color: silver;
    padding: 20px 26px;
    border-radius: 0 0 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

/*personalizacion de las cajas de texto */
#TxtRuta
{
    -webkit-appearance: none;
    border: none;
    width: 97%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           CGA ADMININSTRACION PARAMETRIZABLE                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------- TITULO ---------------------------*/


/*------------------- ajuste de grid administracion -----------------------------------------------*/
#TLink, #TOpcRol, #TRol, #TUser
{
    font: 12px/20px Verdana,sans-serif;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           PARAMETRIZACION PROCESOS                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------- ajuste de grid parametrizacion -----------------------------------------------*/
#TArea, #TEmpleado, #TFestivo
{
    font: 12px/20px Verdana,sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           ESTILOS PAISES                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#container_TGrpDocumentos,#container_TCargo, #container_TProductos, #container_TTransacciones, #container_TTP_Activo, #container_TTP_Leasing, #container_TSActivo, #container_TActivo, #container_TSTP_Leasing, #container_TFasecolda, #container_TMonedaCot, #container_TPaises, #container_TMensajes, #container_TAyudas, #container_TCiudades, #container_TImpuesto_Gasto, #container_Tlink, #container_Trol, #container_TopcRol, #container_TUser, #container_TInf_Impuesto, #container_TPorcen_Descuentos, #container_TCliente, #container_TMonedaCod, #container_TArea, #container_TEmpleado, #container_TFestivo
{
    width: 800px;
    height: 238px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px Verdana,sans-serif;
    text-align: center;
}

#container_Document, #container_direccion, #container_Bank
{
    width: 970px;
    height: 340px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px Verdana,sans-serif;
    text-align: center;
}


.Dialog_Sasif
{
    background: silver;
    border-radius: 15px 15px 15px 15px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    padding: 20px 26px;
}

#D_Impuestos
{
    font: 12px/20px Verdana,sans-serif;
}

.Title_Bold
{
    font: 20px/28px Verdana,sans-serif;
    font-weight: bold;
    color: #2C2C2C;
}

.Label_Bold
{
    font: 12px/20px Verdana,sans-serif;
    font-weight: bold;
}

#Relacion, #Complementos, #Complementos_Read, #Vencimiento, #Complementos_Read_Cliente, #Anexos
{
    margin-top: 15px;
    width: 100%;
    background-color: silver;
    padding: 20px 26px;
    border-radius: 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

#Controls
{
    text-align: center;
    width: 100%;
    margin: 10px;
}

.topform
{
    border: gray solid 2px;
    border-style: outset;
    border-radius: 3px;
    width: 150px;
}

.Select_tiny
{
    width: 50px;
}

.Select_medium
{
    width: 90px;
}


#Tabla_Info_Dic, #Tabla_Ubic, #Tabla_Direccion, #Tabla_Correo, #Tabla_Telefono
{
    margin-top: 10px;
    width: 740px;
    border-radius: 20px;
    border-width: 5px;
    font: 12px/20px Verdana,sans-serif;
}

#D_Impuestos, #D_Clientes_Z
{
    margin-top: 15px;
    background-color: silver;
    padding: 20px 26px;
    border-radius: 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    font: 12px/20px Verdana,sans-serif;
}

#container_direccion
{
    font: 12px/20px Verdana,sans-serif;
    text-align: center;
}

#Blo_Transacciones, #Blo_Cuentas, #TablaHoras
{
    margin-top: 10px;
    width: 100%;
    background-color: silver;
    padding: 20px 26px;
    border-radius: 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
}

#T_Valores, #T_Saldos
{
    width: 100%;
    border-top: solid gray;
    margin-top: 19px;
}

#Marco_Contrato
{
    margin-top: 10px;
    padding: 20px 26px;
    background-color: silver;
    border-radius: 20px 20px 20px 20px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    width: 90%;
    height: 470px;
}

#Marco_trabajo_Contrato
{
    margin-top: 10px;
    padding: 20px 20px;
    background-color: silver;
    border-radius: 15px 15px 15px 15px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    width: 95%;
    height: 410px;
    overflow: auto;
}

#Container_Complementos
{
    height: 170px;
    width: 200px;
    position: absolute;
    background-color: silver;
    padding-top: 40px;
    border-radius: 10px;
    border-color: gray;
    border-width: 5px;
    border-style: outset;
    z-index: 20;
    margin-left: 5px;
    margin-top: 10px;
}

.Option_Cliente
{
    background-color: silver;
    width: 100%;
    height: 50px;
    text-align: left;
    border: solid 1px silver;
    color: gray;
}


.Option_Cliente:hover
{
    background: -webkit-linear-gradient(#89B8DA, #6EA7D2);
    background: -o-linear-gradient(#89B8DA, #6EA7D2);
    background: -moz-linear-gradient(#89B8DA, #6EA7D2);
    background: linear-gradient(#89B8DA, #6EA7D2);
    border: solid 1px white;
    color: white;
    cursor: pointer;
}

.C_Image
{
    padding-left: 10px;
    position: absolute;
}

.C_Text
{
    padding-left: 60px;
    margin-top: 15px;
}

.T_options
{
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    z-index: 50;
}

#Foto_Persona
{
    width: 100px;
    height: 120px;
    position: absolute;
    z-index: 50;
    margin-left: 755px;
    margin-top: 10px;
}
